@using Sistrategia.SAT.CFDiWebSite.Models
@model ComprobanteCreateViewModel
@{
    ViewBag.Title = "Crear un comprobante";
}

<div class="col-md-12">
    <h1 class="text-center">Crear un comprobante</h1>
    <br />
</div>
<div class="col-md-12">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Serie, new { @class = "col-md-1 control-label" })
            <div class="col-md-1">
                @Html.TextBoxFor(m => m.Serie, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.Folio, new { @class = "col-md-1  control-label" })
            <div class="col-md-1">
                @Html.TextBoxFor(m => m.Folio, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.LugarExpedicion, new { @class = "col-md-2  control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.LugarExpedicion, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.NumCtaPago, new { @class = "col-md-1  control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.NumCtaPago, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <br />
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Emisor, new { @class = "col-md-1  control-label" })
            <div class="col-md-5">
                <select class="form-control" id="EmisorId" name="EmisorId"></select>
            </div>
            @Html.LabelFor(m => m.Receptor, new { @class = "col-md-1  control-label" })
            <div class="col-md-5">
                <select class="form-control" id="ReceptorId" name="ReceptorId"></select>
            </div>
        </div>       
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Certificados, new { @class = "col-md-1  control-label" })
            <div class="col-md-5">
                @Html.DropDownListFor(m => m.CertificadoId, Model.Certificados, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.FormaDePago, new { @class = "col-md-1  control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.FormaDePago, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.MetodoDePago, new { @class = "col-md-2  control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.MetodoDePago, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h2 class="text-center">Conceptos</h2>
        <br />
    </div>
    <div class="col-md-1">
        <input type="text" class="form-control" data-bind="" placeholder="Cantidad">
    </div>
    <div class="col-md-1">
        <input type="text" class="form-control" data-bind="" placeholder="Unidad">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" data-bind="" placeholder="Identificación">
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" data-bind="" placeholder="Descripción">
    </div>
    <div class="col-md-1">
        <input type="text" class="form-control" data-bind="" placeholder="Precio">
    </div>
    <div class="col-md-1">
        <input type="text" class="form-control" data-bind="" placeholder="Importe">
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-default form-control" data-bind="">Agregar</button>
    </div>
    <div class="col-md-12"><br /></div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Unidad</th>
                    <th class="text-center">Identificación</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Importe</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody data-bind=''>
                <tr>                
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-8">
        <div class="col-md-12">
            <h3 class="text-center" style="margin-top: 0px;">Impuestos trasladados</h3>
            <br />
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" data-bind="" placeholder="Impuesto">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" data-bind="" placeholder="Tasa">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" data-bind="" placeholder="Importe">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-default form-control" data-bind="">Agregar</button>
        </div>
        <div class="col-md-12"><br /></div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Impuesto</th>
                        <th class="text-center">Tasa</th>
                        <th class="text-center">Importe</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody data-bind=''>
                    <tr></tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h3 class="text-center" style="margin-top: 0px;">Impuestos retenidos</h3>
            <br />
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" data-bind="" placeholder="Impuesto">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" data-bind="" placeholder="Importe">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-default form-control" data-bind="">Agregar</button>
        </div>
        <div class="col-md-12"><br /></div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Impuesto</th>
                        <th class="text-center">Importe</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody data-bind=''>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-8" style="font-weight:600">
            Subtotal:
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.SubTotal, new { @class = "form-control" })
            <br />
        </div>

        <div class="col-md-8" style="font-weight:600">
            Total de impuestos trasladados:
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.ISR, new { @class = "form-control" })
            <br />
        </div>

        <div class="col-md-8" style="font-weight:600">
            Total de impuestos retenidos:
        </div>
        <div class="col-md-4" style="font-weight:600">
            @Html.TextBoxFor(m => m.TasaIVA, new { @class = "form-control" })
            <br />
        </div>
        <div class="col-md-8" style="font-weight:600">
            Total:
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Total, new { @class = "form-control col-md-1" })
            <br />
        </div>
    </div>
    
    <div class="col-md-12">
        <hr />
    </div>
    <div class="form-group">
        <div class="col-md-offset-9 col-md-12">
            <input type="submit" class="btn btn-lg btn-primary" value="@LocalizedStrings.SaveButton" />
        </div>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
</div>

@section Scripts {
 @Scripts.Render("~/bundles/jqueryval")
 @Scripts.Render("~/bundles/select2")
 @Scripts.Render("~/bundles/KOAmplify")
 <script src="@Url.Content("~/Scripts/ViewModelsKO/ComprobanteCreate.js")"></script>    
}