@using Sistrategia.SAT.CFDiWebSite.Models
@model ComprobanteDetailViewModel
@{
  ViewBag.Title = Model.Title;
  Sistrategia.SAT.CFDiWebSite.CloudStorage.CloudStorageMananger cloudStorage = new Sistrategia.SAT.CFDiWebSite.CloudStorage.CloudStorageMananger();
}

<h1>@ViewBag.Title <br /><small>@Model.Receptor.RFC</small></h1>

<div class="row">
  <div class="col-md-12">
    @*<a href="" class="btn btn-primary">Timbrar</a>*@

    <a target="_blank" href="@Url.Action("ShowHtml", new { id = Model.PublicKey.ToString("N") })" class="btn btn-primary">Html</a>

    @if (!string.IsNullOrEmpty(Model.GeneratedXmlUrl)) {
      <a target="_blank" href="@cloudStorage.GetTempUrl(System.Configuration.ConfigurationManager.AppSettings["AzureAccountName"], System.Configuration.ConfigurationManager.AppSettings["AzureAccountKey"], Model.GeneratedXmlUrl)" class="btn btn-primary">Xml</a>
    }
    else {
      <a target="_blank" href="@Url.Action("ShowXml", new { id = Model.PublicKey.ToString("N") })" class="btn btn-primary">Xml</a>
    }


    @*@if (!string.IsNullOrEmpty(Model.GeneratedXmlUrl)) {
        <a href="@cloudStorage.GetTempUrl(System.Configuration.ConfigurationManager.AppSettings["AzureAccountName"], System.Configuration.ConfigurationManager.AppSettings["AzureAccountKey"], Model.GeneratedXmlUrl)" class="hidden-xs"><span style="font-size:20px; font-weight:normal;color:#a0a0a0;" class="glyphicon glyphicon-file"></span></a>@Html.Raw("&nbsp; &nbsp;")
      }
      else {
        <a href="@Url.Action("ShowXml", new { id = Model.PublicKey.ToString("N") })" class="hidden-xs"><span style="font-size:20px; font-weight:normal;color:#a0a0a0;" class="glyphicon glyphicon-file"></span></a>@Html.Raw("&nbsp; &nbsp;")
      }*@

    @if (!string.IsNullOrEmpty(Model.GeneratedPDFUrl)) {
      <a target="_blank" href="@cloudStorage.GetTempUrl(System.Configuration.ConfigurationManager.AppSettings["AzureAccountName"], System.Configuration.ConfigurationManager.AppSettings["AzureAccountKey"], Model.GeneratedPDFUrl)" class="btn btn-primary">PDF</a>
    }
    else {
      <a target="_blank" href="@Url.Action("ShowPDF", new { id = Model.PublicKey.ToString("N") })" class="btn btn-primary">PDF</a>
    }

    @if (Model.TimbreFiscalDigital==null) { //&& !string.IsNullOrEmpty(Model.TimbreFiscalDigital.SelloSAT)) {
      <a target="_blank" href="@Url.Action("GetTimbre", new { id = Model.PublicKey.ToString("N") })" class="btn btn-primary">Timbrar</a>
    }

  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <p style="margin: 24px 2px 0 0;">
    </p>
  </div>
</div>


<div class="row">
  <div class="col-md-9">
    <p>
      @Html.Raw(Model.Receptor.Domicilio.ToHtml())
    </p>
  </div>
  <div class="col-md-3" >
    <h2 style="font-weight:400;color:#FF6E40;">
     @string.Format("{0:C}", Model.Total)
    </h2>
  </div>
</div>


<h2>
  Conceptos
</h2>

<div class="row" style="font-weight:600">
  <div class="col-md-1">
    Cantidad
  </div>
  <div class="col-md-1">
    Unidad
  </div>
  <div class="col-md-1">
    Identificación
  </div>
  <div class="col-md-6">
    Descripción
  </div>
  <div class="col-md-1">
    Precio
    @*Valor Unitario*@
  </div>
  @*<div class="col-md-1">
      Moneda
    </div>
    <div class="col-md-1">
      Tasa
    </div>*@
  <div class="col-md-1">
    Importe
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr style="margin: 2px 0;" />
  </div>
</div>

@foreach (ConceptoViewModel concepto in Model.Conceptos) {
  <div class="row">
    <div class="col-md-1">
      @string.Format("{0:0.00}", concepto.Cantidad)
    </div>
    <div class="col-md-1">
      @concepto.Unidad
    </div>
    <div class="col-md-1">
      @concepto.NoIdentificacion
    </div>
    <div class="col-md-6">
      @concepto.Descripcion
    </div>
    <div class="col-md-1">
      @string.Format("{0:C}", concepto.ValorUnitario)
      @*@string.Format("{0:0.00}", concepto.ValorUnitario)*@
    </div>

    @*<div class="col-md-1">
        0%
      </div>*@
    <div class="col-md-1">
      @string.Format("{0:C}", concepto.Importe)
    </div>
    <div class="col-md-1">
      @*<a class="btn btn-primary" href="#">Agregar</a>*@
    </div>
  </div>
}

@*<div class="row">
  <div class="col-md-12">
    <hr style="margin: 2px 0;" />
  </div>
</div>*@

<div class="row">
  <div class="col-md-12">
    <hr style="margin: 56px 2px 0 0;" />
  </div>
</div>
<div class="row">
  <div class="col-md-9">
  </div>
  <div class="col-md-1" style="font-weight:600">
    Subtotal:
  </div>
  <div class="col-md-1">
    @string.Format("{0:C}", Model.SubTotal)
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="row">
  <div class="col-md-9">
  </div>
  <div class="col-md-1" style="font-weight:600">
    Total:
  </div>
  <div class="col-md-1">
    @string.Format("{0:C}", Model.Total)
  </div>
  <div class="col-md-1">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Cadena Original:</h4>
    <p><small>@Model.CadenaOriginal</small></p>
    <h4>Sello:</h4>
    <p><small>@Model.Sello</small></p>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <p style="margin: 56px 2px 0 0;" >
      </p>
  </div>
</div>
