@using Sistrategia.SAT.CFDiWebSite.Models
@model ComprobanteIndexViewModel
@{
  ViewBag.Title = "Lista de Comprobantes";
}
<div class="page-header clearfix">
  <h1 class="pull-left">@ViewBag.Title</h1>
  <div class="pull-right">
    <div class="btn-group" style="bottom: 26px;position: relative;top:26px;">
      @*@Html.ActionLink("Agregar", "Create", new { id = Model.Emisor.PublicKey }, new { @class = "btn btn-primary", @role = "button" })*@
      @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-primary", @role = "button" })
    </div>
  </div>
</div>


  
    <ul class="media-list list-inline">
  @foreach (var comprobante in Model.Comprobantes) {
    <li class="media">
      <div class="media-left">
        <a style="text-decoration: none" href="~/Comprobante/Details/@comprobante.PublicKey.ToString("N")">
          <div class="circle noselect">
            <span>@comprobante.Receptor.Nombre.Substring(0, 1)</span>
          </div>
        </a>
      </div>
      <div class="media-body">
        <div class="row">
          <div class="col-md-6">
            <h4 class="media-heading">@Html.ActionLink(string.Format("{0}{1} - {2}", @comprobante.Serie, @comprobante.Folio, @comprobante.Receptor.Nombre), "Details", "Comprobante", new { Id = @comprobante.PublicKey.ToString("N") }, null)</h4>
            <h5 class="media-heading">@comprobante.Fecha.ToLongDateString()</h5>
          </div>
          <div class="col-md-3">
            <h4 class="media-heading">
              <span style="font-weight:600;color:#7986CB;" class="">@comprobante.Total.ToString("C") MXN</span>
            </h4>
          </div>
          <div class="col-md-2">
            @*<a href="#"><span style="font-size:20px; font-weight:normal;color:#7986CB;" class="glyphicon glyphicon-pencil"></span></a>&nbsp*@
            <a href="@Url.Action("ShowXml", new { id = comprobante.PublicKey.ToString("N") })"><span style="font-size:20px; font-weight:normal;color:#a0a0a0;" class="glyphicon glyphicon-envelope"></span></a>&nbsp;&nbsp;
            <a href="#"><span style="font-size:20px; font-weight:normal;color:#a0a0a0;" class="glyphicon glyphicon-qrcode"></span></a>&nbsp;&nbsp;
            <a href="#"><span style="font-size:20px; font-weight:normal;color:#a0a0a0;" class="glyphicon glyphicon-print"></span></a>
            @*<a href="#"><span style="font-size:20px; font-weight:normal;color:#7986CB;" class="glyphicon glyphicon-remove"></span></a>&nbsp;*@            
          </div>
          <div class="col-md-1">            
            <a href="#"><span style="font-size:20px; font-weight:normal;color:#333;" class="glyphicon glyphicon-option-vertical"></span></a>
          </div>
        </div>
      </div>
    </li>
  }
</ul>



