@using Sistrategia.SAT.CFDiWebSite.Models
@model ComprobanteUploadCancelacionViewModel
@{
  ViewBag.Title = "Cargar una cancelación de comprobante(s) existente";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("UploadCancelacion", "Comprobante", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
  @Html.AntiForgeryToken()
  @*<h4>@LocalizedStrings.Account_RegisterSubtitle</h4>*@
  <hr />
  @Html.ValidationSummary("", new { @class = "text-danger" })

  <div class="form-group">
    @Html.LabelFor(m => m.CancelacionArchivo, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.CancelacionArchivo, new { @class = "form-control", type = "file" })
    </div>
  </div>

  <hr />
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" class="btn btn-primary" value="@LocalizedStrings.SaveButton" />
    </div>
  </div>
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}


