@{
  string ControllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - SistrategiaDrive</title>
  <link rel="shortcut icon" href="https://sistrategiadrive.blob.core.windows.net/wwwroot/favicon.png">
 
  @Styles.Render("~/Content/css")
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
  @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("SistrategiaCFDi", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
              @*<a class="navbar-brand sistrategiaLogo" href="@Url.Content("~/")"><img src="~/Content/Img/logo_header_white.png" class="img-responsive" /></a>*@
              <a class="navbar-brand sistrategiaLogo" href="@Url.Content("~/")"><img src="https://sistrategiadrive.blob.core.windows.net/wwwroot/logo_header_white.png" class="img-responsive" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li @if (ControllerName.Equals("Emisor")) { @Html.Raw("class='active'") ; } else { @Html.Raw("") ; }>
                    @Html.ActionLink("Emisores", "Index", "Emisor")                    
                  </li>
                  <li @if (ControllerName.Equals("Receptor")) { @Html.Raw("class='active'")  ; } else { @Html.Raw("")  ; }>
                    @Html.ActionLink("Receptores", "Index", "Receptor")
                  </li>
                  <li @if (ControllerName.Equals("Comprobante")) { @Html.Raw("class='active'")   ; } else { @Html.Raw("")   ; }>
                    @Html.ActionLink("Comprobantes", "Index", "Comprobante")
                  </li>

                </ul>
              @Html.Partial("_LoginPartial")

              

            </div>
        </div>
    </div>

  <div class="container body-content shadow-z-2" style="margin-top:32px;background-color:#fff;">
    @RenderBody()
    <hr />
    <footer>
      <p class="pull-left">&copy; @DateTime.Now.Year - Sistrategia</p>
      <div class="pull-right hidden-xs">
        <ul class="nav navbar-nav navbar-right">
          <li>@Html.ActionLink("English (US)", "ChangeLang", "Locale", new { Lang = "en-US", ReturnUrl = Url.Encode(Request.RawUrl) }, new { @class = "navbar-brand footer-lang-bar", @style = "font-size:11px;" })</li>
          <li>@Html.ActionLink("Español (México)", "ChangeLang", "Locale", new { Lang = "es-MX", ReturnUrl = Url.Encode(Request.RawUrl) }, new { @class = "navbar-brand footer-lang-bar", @style = "font-size:11px;" })</li>
        </ul>
      </div>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/i18n/es.js"></script>   
  @RenderSection("scripts", required: false)
</body>
</html>