@{
  string ControllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}
@if (User.Identity.IsAuthenticated) { 
<ul class="nav navbar-nav navbar-right">
  <li><a class="navbar-icon" href="@Url.Content("~/Account")"><span class="glyphicon glyphicon-user"></span></a></li>
  @if (HttpContext.Current.User.IsInRole("Developer")) {
  <li @if (ControllerName.Equals("Dev")) { @Html.Raw("class='active'")   ; } else { @Html.Raw("")   ; }>
    <a class="navbar-icon" href="@Url.Content("~/Dev")"><span class="glyphicon glyphicon-cog"></span></a>
  </li>
  }
  <li><a class="navbar-icon" href="@Url.Content("~/Account/LogOff")"><span class="glyphicon glyphicon-off"></span></a></li>
</ul>
}
else {
  <ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink(LocalizedStrings.RegisterButton, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink(LocalizedStrings.SigninButton, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
  </ul>
}