@{
  ViewBag.Title = LocalizedStrings.Account_ConfirmEmailTitle;
}

<h1>@ViewBag.Title.</h1>
<div>
  @if (User.Identity.IsAuthenticated) {
    <p>
      @LocalizedStrings.Account_ThankYouForConfirmEmail @Html.ActionLink(LocalizedStrings.Account_ClickHereToGoHome, "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
  }
  else {
    <p>
      @LocalizedStrings.Account_ThankYouForConfirmEmail @Html.ActionLink(LocalizedStrings.Account_ClickHereToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
  }
</div>
