@using Sistrategia.SAT.CFDiWebSite.Models
@model AccountIndexViewModel
@{
  ViewBag.Title = @LocalizedStrings.Account_IndexTitle;
}

<h1>@ViewBag.Title</h1>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
  <h4>@LocalizedStrings.Account_IndexSubtitle</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>@LocalizedStrings.UserNameField: </dt>
    <dd>@Model.UserName</dd>

    <dt>@LocalizedStrings.FullNameField: </dt>
    <dd>@Model.FullName</dd>

    <dt>@LocalizedStrings.Password: </dt>
    <dd>
      [
      @if (Model.HasPassword) {
        @Html.ActionLink(@LocalizedStrings.Account_ChangePassword, "ChangePassword")
      }
      else {
        @Html.ActionLink("Create", "SetPassword")
      }
      ]
    </dd>
    <dt>@LocalizedStrings.Account_ExternalLogins:</dt>
    <dd>
      @Model.Logins.Count [
      @Html.ActionLink(LocalizedStrings.Manage, "ManageLogins") ]
    </dd>

    <dt>@LocalizedStrings.Language: </dt>
    <dd>
      @Html.ActionLink(LocalizedStrings.Lang_en_US_DisplayName, "ChangeLang", "Locale", new { Lang = "en-US", ReturnUrl = Url.Encode(Request.RawUrl) }, new { @class = "active" })
      | @Html.ActionLink(LocalizedStrings.Lang_es_MX_DisplayName, "ChangeLang", "Home", new { Lang = "es-MX", ReturnUrl = Url.Encode(Request.RawUrl) }, new { @class = "active" })
    </dd>

    @*
      Phone Numbers can used as a second factor of verification in a two-factor authentication system.

       See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
          for details on setting up this ASP.NET application to support two-factor authentication using SMS.

       Uncomment the following block after you have set up two-factor authentication
    *@
    @*
      <dt>Phone Number:</dt>
      <dd>
          @(Model.PhoneNumber ?? "None") [
          @if (Model.PhoneNumber != null)
          {
              @Html.ActionLink("Change", "AddPhoneNumber")
              @: &nbsp;|&nbsp;
              @Html.ActionLink("Remove", "RemovePhoneNumber")
          }
          else
          {
              @Html.ActionLink("Add", "AddPhoneNumber")
          }
          ]
      </dd>
    *@
    <dt>@LocalizedStrings.Account_TwoFactorAuthentication:</dt>
    <dd>
      @*<p>
          There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
          for details on setting up this ASP.NET application to support two-factor authentication.
        </p>*@
      @if (Model.TwoFactor) {
        using (Html.BeginForm("DisableTwoFactorAuthentication", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
          @Html.AntiForgeryToken()
          <text>@LocalizedStrings.Enabled
          <input type="submit" value="@LocalizedStrings.Disable" class="btn btn-link" />
          </text>
        }
      }
      else {
        using (Html.BeginForm("EnableTwoFactorAuthentication", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
          @Html.AntiForgeryToken()
          <text>@LocalizedStrings.Disabled
          <input type="submit" value="@LocalizedStrings.Enable" class="btn btn-link" />
          </text>
        }
      }
    </dd> 

  </dl>

</div>
