@using Sistrategia.SAT.CFDiWebSite.Models
@model EmisorCreateViewModel
@{
    ViewBag.Title = "Create";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("Create", "Emisor", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
  @Html.AntiForgeryToken()
  <h4>@LocalizedStrings.Account_RegisterSubtitle</h4>
  <hr />
  @Html.ValidationSummary("", new { @class = "text-danger" })

  <div class="form-group">
    @Html.LabelFor(m => m.RFC, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.RFC, new { @class = "form-control" })
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.RegimenFiscal, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.RegimenFiscal, new { @class = "form-control" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(m => m.Telefono, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
    </div>
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.Correo, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.Correo, new { @class = "form-control" })
    </div>
  </div>


  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <a class="btn btn-default" role="button" data-toggle="collapse" href="#domiciliofiscal" aria-expanded="false" aria-controls="domiciliofiscal">
        Agregar Domicilio Fiscal
      </a>      
    </div>
  </div>
  
  <div class="collapse" id="domiciliofiscal">
    <h3>@LocalizedStrings.Emisor_DetailsDomicilioFiscalTitle</h3>
    <div class="form-group">
      @Html.LabelFor(m => m.DomicilioFiscal.Calle, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.DomicilioFiscal.Calle, new { @class = "form-control" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.DomicilioFiscal.NoExterior, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.DomicilioFiscal.NoExterior, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.DomicilioFiscal.NoInterior, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.DomicilioFiscal.NoInterior, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.DomicilioFiscal.Colonia, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.DomicilioFiscal.Colonia, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.DomicilioFiscal.Municipio, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.DomicilioFiscal.Municipio, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.DomicilioFiscal.Localidad, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.DomicilioFiscal.Localidad, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.DomicilioFiscal.Estado, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.DomicilioFiscal.Estado, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.DomicilioFiscal.CodigoPostal, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.DomicilioFiscal.CodigoPostal, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.DomicilioFiscal.Pais, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.DomicilioFiscal.Pais, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.DomicilioFiscal.Referencia, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.DomicilioFiscal.Referencia, new { @class = "form-control" })
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-default" role="button" data-toggle="collapse" href="#expedidoEn" aria-expanded="false" aria-controls="expedidoEn">
          Expedido En
        </a>
      </div>
    </div>

  </div>

  

  <div class="collapse" id="expedidoEn">
    <h3>@LocalizedStrings.Emisor_DetailsExpedidoEnTitle</h3>
    <div class="form-group">
      @Html.LabelFor(m => m.ExpedidoEn.Calle, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.ExpedidoEn.Calle, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.ExpedidoEn.NoExterior, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.ExpedidoEn.NoExterior, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.ExpedidoEn.NoInterior, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.ExpedidoEn.NoInterior, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.ExpedidoEn.Colonia, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.ExpedidoEn.Colonia, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.ExpedidoEn.Municipio, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.ExpedidoEn.Municipio, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.ExpedidoEn.Localidad, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.ExpedidoEn.Localidad, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.ExpedidoEn.Estado, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.ExpedidoEn.Estado, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.ExpedidoEn.CodigoPostal, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.ExpedidoEn.CodigoPostal, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.ExpedidoEn.Pais, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.ExpedidoEn.Pais, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.ExpedidoEn.Referencia, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.ExpedidoEn.Referencia, new { @class = "form-control" })
      </div>
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(m => m.CifUrl, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.CifUrl, new { @class = "form-control" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(m => m.LogoUrl, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.LogoUrl, new { @class = "form-control" })
    </div>
  </div>

  <hr />
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" class="btn btn-primary" value="@LocalizedStrings.SaveButton" />
    </div>
  </div>
    }

    @section Scripts {
      @Scripts.Render("~/bundles/jqueryval")
    }
